@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

* {
    background-color: #fefdf1;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-family: 'Gowun Dodum', sans-serif;
}
header {
    width: 350px;
    height: 45px;
    padding: 10px;
    display: flex;
    align-items: center;
    margin-top: 15px;
}
.logo {
    width: 100px;
    height: auto;
    display: flex;
    margin-right: auto;
}
#logo img {
    width: 90px;
    height: auto;
    margin-top: 5px;
    padding: 5px;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
}
#mypage_logo {
    justify-content: center;
    align-items: center;
    margin-left: auto;
    width: 28px;
    padding-left: 50px;
    margin-right: 10px;
}
#slogan {
    color: #474133;
    text-align: center;
    margin: 0;
    font-size: 23px;
    font-weight: 600;
}
#information {
    width: 330px;
    height: auto;
    margin: 1px auto;
    text-align: center;
    color: #474133;
    font-family: 'Gowun Dodum', sans-serif;

    background-color: #ffffff;
    display: flex; /* Add this line to enable flex display */
    flex-direction: column;
    border-radius: 15px; /* 원하는 둥근 정도를 픽셀 값으로 설정 */
    /*border: 2px solid #474133; /* 테두리 스타일 및 색상 설정 */
    overflow: hidden; /* 테두리를 벗어나는 부분 자르기 */
    position: relative;
    box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.2);
    font-size: 14px;
}
#info_text1,
#info_text2 {
    padding-left: 20px;
    padding-right: 5px;
    background-color: #ffffff;
    text-align: left;
}
#info_text2 {
    margin-bottom: 30px;
}
#main_image2 {
    margin-top: 30px;
    margin-bottom: 30px;
}
#cs_center {
    width: 330px;
    margin: 1px 1px 50px;
    text-align: left;
    padding: 20px;
    border: 0px solid #000;
    color: #aaa18b;
    font-family: 'Gowun Dodum', sans-serif;
    line-height: 2;
}
#button {
    text-align: center;
    position: sticky;
    bottom: 80px;
    background-color: unset;
}
.button {
    background-color: #474133;
    border-radius: 23px;
    display: inline-block;
    cursor: pointer;
    color: #fefdf1;
    font-family: 'Gowun Dodum', sans-serif;

    font-size: 20px;
    padding: 20px 100px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #6e6e50;
    border: 0px;
}
.button:hover {
    background-color: #cfc3a6;
}
.button:active {
    position: relative;
    top: 1px;
}
.left {
    text-align: left; /*왼쪽 정렬*/
}
