@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    font-family: 'Gowun Dodum', sans-serif;
    background-color: #fefdf1;
}

header {
    width: 350px;
    height: 45px;
    padding: 10px;
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 20px;
}

.logo {
    width: 100px;
    height: auto;
    display: flex;
    margin-right: auto;
}

#logo img {
    width: 90px;
    height: auto;
    margin-top: 5px;
    padding: 5px;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 330px;
    margin: 30px auto;
    /* auto 값으로 좌우 가운데 정렬 */
}

.btn-box {
    display: flex;
    justify-content: end;
}

table {
    border-collapse: collapse;
}
.accordion-title {
    font-family: 'Gowun Dodum', sans-serif;
}

th,
td {
    border: none; /* 모든 테두리 제거 */
    /*border-bottom: 0.7px solid black; */ /* 밑 테두리만 추가 */
    padding: 8px;
    white-space: nowrap; /* 텍스트 줄 바꿈 방지 */
    overflow: hidden; /* 넘치는 부분 감춤 */
    text-overflow: ellipsis;
    font-size: 13px;
    color: #474133;
    margin-bottom: 10px;
}

thead {
    background-color: #fefdf1;
    font-family: 'Gowun Dodum', sans-serif;
}

#btn-close-all {
    padding: 5px;
    cursor: pointer;
    font-family: 'Gowun Dodum', sans-serif;
    border: none;
    font-size: 12px;
    border-radius: 10%;
    margin: top 20px;
    margin-bottom: 10px;
    align-items: right;
    text-align: right;
    background-color: #fefdf1;
    color: #474133;
}

#btn-close-all:hover {
    background-color: #fefdf1;
    color: #474133;
    transition: all 0.35s;
}

tbody td:nth-child(1) {
    width: 1px;
    /* 첫 번째 열의 너비를 100px로 설정 */
}

tbody td:nth-child(2) {
    width: 220px;
}
tbody td:nth-child(3) {
    width: 2px;
}
tbody td:nth-child(4) {
    width: 2px;
}

.record_title {
    display: flex;
    margin-bottom: 5px;
}

.accordion-title {
    margin-right: 90px;
}

.childName {
    margin-right: 20px;
}

.accordion-container {
    margin: auto;
    width: 290px;
    white-space: normal; /* 자동으로 줄바꿈되도록 설정 */
}

.accordion-content p {
    margin-bottom: 10px; /* 각 요소 아래에 10px 간격을 추가 */
}

.accordion-content {
    height: 10px;
    overflow-y: hidden;
    transition: all 1.4s;
    min-height: 20px;
}

.active {
    display: block;
    height: 100px;
    overflow: auto;
}

#hospital-button {
    display: block;
    background-image: url('./image/hospital.png');
    color: #fefdf1;
    padding: 16px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    text-align: left;
    width: 330px;
    justify-content: center; /* 가운데 정렬을 위한 설정 */
    align-items: center; /* 수직 가운데 정렬을 위한 설정 */
    margin-bottom: 20px;
}

#hospital-button:hover {
    background-color: #fefdf1;
    color: #474133;
    transition: background-color 0.35s;
}

#email {
    /* Adjust color as needed */
    margin-left: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    font-size: 14px;
    color: rgb(119, 119, 119);
    font-family: 'Gowun Dodum', sans-serif;
    font-weight: 400;
    /* Adjust spacing as needed */
}
#head-container {
    display: flex;
    width: 350px;
}
.profile {
    width: 330px;
    align-items: center;
}

#logout_button {
    margin-top: 30px;
    height: 35px;
    width: 70px;
    font-family: 'Gowun Dodum', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #fefdf1;
    background-color: #474133;
    border-radius: 10px;
    border: 0px;
}

#logout_button:hover {
    background-color: #bdbdbd;
    color: #1b1a18;
    transition: background-color 0.35s;
}

#title {
    margin-left: 5px;
    margin-top: 20px;
    font-size: 16px;
    font-family: 'Gowun Dodum', sans-serif;
    color: rgb(119, 119, 119);
    margin-bottom: 5px;
}
#username {
    margin-top: 20px;
    font-size: 18px;
    font-family: 'Gowun Dodum', sans-serif;
    font-weight: 900;
    color: rgb(95, 95, 95);
}

#title2 {
    margin-bottom: 10px;
    font-size: 16px;
    font-family: 'Gowun Dodum', sans-serif;
    color: #474133;
    margin-right: 190px;
}

/* 모달 스타일 */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    background-image: url('./image/hospital.png');
    border-radius: 5%;
    margin: 10% auto;
    padding: 20px;
    width: 350px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
}

#close {
    background-color: transparent;
    position: absolute;
    color: #fefdf1;
    font-size: 18px;
    font-weight: 700;
    text-align: right;
    margin-left: 220px;
    margin-top: 5px;
}

#close:hover,
#close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.button-container {
    justify-content: center; /* 가운데 정렬을 위한 설정 */
    align-items: center; /* 수직 가운데 정렬을 위한 설정 */
    margin: 0 auto; /* 수평 가운데 정렬을 위한 설정 */
}

#story-button {
    background-image: url('./image/story.png');
    color: #fefdf1;
    padding: 16px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    margin-bottom: 60px;
    text-align: left;
    font-family: 'Gowun Dodum', sans-serif;
    width: 330px;
    align-items: center;
    justify-content: center; /* 가운데 정렬을 위한 설정 */
    align-items: center; /* 수직 가운데 정렬을 위한 설정 */
}

#story-button:hover {
    background-color: #fefdf1;
    color: #474133;
    transition: background-color 0.35s;
}
#title3 {
    margin-top: 60px;
    margin-bottom: 10px;
    font-size: 16px;
    font-family: 'Gowun Dodum', sans-serif;
    color: #474133;
}

#no1,
#no2,
#no3,
#no4 {
    display: block;
    background-color: transparent;
    color: #fefdf1;
    padding: 7px;
    font-size: 16px;
    cursor: pointer;
    width: 300px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
    box-shadow: none;
    font-family: 'Gowun Dodum', sans-serif;
    border: none;
    text-align: center;
    align-items: center;
    flex-direction: column;
    font-weight: 500;
}

#modal-text {
    background-color: transparent;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    font-family: 'Gowun Dodum', sans-serif;
    font-weight: 700;
    color: #3a3a3a;
    text-align: center;
    font-weight: 600;
}

#no1:hover,
#no2:hover,
#no3:hover,
#no4:hover {
    background-color: #fefdf1;
    color: #474133;
}
